    @media(min-width:800px) and (max-width:1024px) {
        .header {
            height: 60px;
        }
        .header-infor p,
        .header-infor__logo span {
            font-size: 1.25rem;
        }
        .header-nav__item {
            padding: 1rem;
            font-size: 1.25rem;
        }
        .header-logo .header-logo__img img {
            width: 200px;
        }
        .home-1 {
            width: 100%;
            height: 50vh;
        }
        .btn-sm {
            font-size: 1rem;
            margin: 1rem;
            width: 200px;
        }
        .ratings__item--start i {
            font-size: 1.5rem;
        }
        .h-5 {
            font-size: 3rem;
        }
    }
    
    @media(min-width:740px) and (max-width:799px) {
        .header {
            height: 60px;
        }
        .header-infor p,
        .header-infor__logo span {
            font-size: 0.75rem;
        }
        .header-nav__item {
            padding: 1rem;
            font-size: 0.75rem;
            ;
        }
        .header-logo .header-logo__img img {
            width: 200px;
        }
        .home-1 {
            width: 100%;
            height: 40vh;
        }
        .btn-sm {
            font-size: 1rem;
            margin: 1rem;
            width: 200px;
        }
        .from {
            width: 300px;
            height: 300px;
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        .form__res {
            width: 300px;
            height: 250px;
            background-color: var(--blue-4);
            position: absolute;
            top: 20%;
            border-radius: 50px 50px 30px 30px;
            display: flex;
            flex-direction: column;
        }
        .form__res .form__title h5 {
            text-align: center;
            font-size: 1.5rem;
            color: var(--white-1);
            text-transform: uppercase;
            margin-top: 20px;
        }
        .col__lable {
            float: left;
            text-transform: uppercase;
            color: var(--white-1);
            font-size: 1rem;
        }
        .col__input {
            width: 100%;
            border: none;
            border-bottom: 2px solid var(--white-1);
            background: none;
            height: 20px;
            color: var(--white-1);
        }
        .col__select {
            background-color: var(--blue-4);
        }
        .col__select option {
            width: 100%;
        }
        .col_submit {
            margin-top: 5px;
            width: 100px;
            border-radius: 30px;
            background-color: var(--red-1);
            font-weight: bold;
            color: var(--white-1);
            font-size: 1.25rem;
        }
        .ratings__item {
            width: 400px;
            height: 200px;
        }
        .ratings__item--start i {
            font-size: 1rem;
        }
        .ratings__item--avatar img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }
        .ratings__item--avatar p {
            font-size: 1rem;
        }
        .ratings__item--content h5 {
            font-size: 1rem;
            margin: 10px 0;
        }
        .ratings__item--content p {
            font-size: 1rem;
        }
        .h-5 {
            font-size: 2.5rem;
        }
    }
    
    @media(max-width:740px) {
        .header-mini {
            display: block;
        }
        .header {
            display: none;
        }
        .home-1 {
            width: 100%;
            height: 70vh;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .btn-sm {
            font-size: 0.75rem;
            margin: 1rem;
            width: 100px;
        }
        .from {
            width: 200px;
            height: 250px;
            position: absolute;
            top: 35%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        .form__res {
            width: 200px;
            height: 250px;
            background-color: var(--blue-4);
            position: absolute;
            top: 20%;
            border-radius: 50px 50px 30px 30px;
            display: flex;
            flex-direction: column;
        }
        .form__res .form__title h5 {
            text-align: center;
            font-size: 1.5rem;
            color: var(--white-1);
            text-transform: uppercase;
            margin-top: 20px;
        }
        .col__lable {
            float: left;
            text-transform: uppercase;
            color: var(--white-1);
            font-size: 1rem;
        }
        .col__input {
            width: 100%;
            border: none;
            border-bottom: 2px solid var(--white-1);
            background: none;
            height: 20px;
            color: var(--white-1);
        }
        .col__select {
            background-color: var(--blue-4);
        }
        .col__select option {
            width: 100%;
        }
        .col_submit {
            margin-top: 5px;
            width: 100px;
            border-radius: 30px;
            background-color: var(--red-1);
            font-weight: bold;
            color: var(--white-1);
            font-size: 1.25rem;
        }
        .ratings {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        .ratings__item {
            width: 300px;
            height: 180px;
        }
        .ratings__item--start i {
            font-size: 1rem;
        }
        .ratings__item--avatar img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }
        .ratings__item--avatar p {
            font-size: 1rem;
        }
        .ratings__item--content h5 {
            font-size: 1rem;
            margin: 10px 0;
        }
        .ratings__item--content p {
            font-size: 1rem;
        }
        .ratings__item--date {
            font-size: 1rem;
        }
        .home-3 {
            width: 100%;
        }
        .from__search {
            height: 50px;
            border: 2px solid var(--black-2);
            border-radius: 20px;
        }
        .col__search {
            width: 100%;
            height: 40px;
            padding: 0;
        }
        .col__search::placeholder {
            font-size: 1.25rem;
        }
        .btn--search i {
            font-size: 2rem;
        }
        .h-5 {
            font-size: 1.75rem;
        }
        .home-4__cars {
            display: flex;
            flex-direction: column;
            width: 100%;
        }
        .home-4__car {
            width: 100%;
            height: 400px;
            text-align: center;
            position: relative;
        }
        .home-4__car:first-child {
            width: 100%;
            height: 400px;
        }
    }